<h1>Sommaire<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#--Récupérer-&amp;-charger-les-données" data-toc-modified-id="--Récupérer-&amp;-charger-les-données-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>- Récupérer &amp; charger les données</a></span><ul class="toc-item"><li><span><a href="#--Récupérer-le-jeu-de-données" data-toc-modified-id="--Récupérer-le-jeu-de-données-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>- Récupérer le jeu de données</a></span></li><li><span><a href="#--Définition-des-acronymes" data-toc-modified-id="--Définition-des-acronymes-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>- Définition des acronymes</a></span></li><li><span><a href="#--Charger-les-données-dans-le-Notebook" data-toc-modified-id="--Charger-les-données-dans-le-Notebook-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>- Charger les données dans le Notebook</a></span></li></ul></li><li><span><a href="#--Nettoyer-&amp;-consolider" data-toc-modified-id="--Nettoyer-&amp;-consolider-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>- Nettoyer &amp; consolider</a></span><ul class="toc-item"><li><span><a href="#--Analyse-rapide-du-fichier" data-toc-modified-id="--Analyse-rapide-du-fichier-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>- Analyse rapide du fichier</a></span></li><li><span><a href="#--Suppression-des-données-trop-incomplètes" data-toc-modified-id="--Suppression-des-données-trop-incomplètes-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>- Suppression des données trop incomplètes</a></span></li><li><span><a href="#--Suppression-/-Modification-/-Merge-des-données" data-toc-modified-id="--Suppression-/-Modification-/-Merge-des-données-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>- Suppression / Modification / Merge des données</a></span><ul class="toc-item"><li><span><a href="#--Suppression-des-colonnes-toujours-uniques-/-identiques-(ou-quasi)" data-toc-modified-id="--Suppression-des-colonnes-toujours-uniques-/-identiques-(ou-quasi)-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>- Suppression des colonnes toujours uniques / identiques (ou quasi)</a></span><ul class="toc-item"><li><span><a href="#--Analyse-plus-poussée---IDEMPLACEMENT" data-toc-modified-id="--Analyse-plus-poussée---IDEMPLACEMENT-2.3.1.1"><span class="toc-item-num">2.3.1.1&nbsp;&nbsp;</span>- Analyse plus poussée - IDEMPLACEMENT</a></span></li><li><span><a href="#--Analyse-plus-poussée---STADE-DE-DEVELOPPEMENT" data-toc-modified-id="--Analyse-plus-poussée---STADE-DE-DEVELOPPEMENT-2.3.1.2"><span class="toc-item-num">2.3.1.2&nbsp;&nbsp;</span>- Analyse plus poussée - STADE DE DEVELOPPEMENT</a></span></li><li><span><a href="#--Analyse-plus-poussée---REMARQUABLE" data-toc-modified-id="--Analyse-plus-poussée---REMARQUABLE-2.3.1.3"><span class="toc-item-num">2.3.1.3&nbsp;&nbsp;</span>- Analyse plus poussée - REMARQUABLE</a></span></li></ul></li><li><span><a href="#--Suppression-des-colonnes-correspondantes-à-une-autre-(lien-1-1)" data-toc-modified-id="--Suppression-des-colonnes-correspondantes-à-une-autre-(lien-1-1)-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>- Suppression des colonnes correspondantes à une autre (lien 1-1)</a></span></li><li><span><a href="#--Suppression-/-Merge-des-données-trop-peu-représentées" data-toc-modified-id="--Suppression-/-Merge-des-données-trop-peu-représentées-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span>- Suppression / Merge des données trop peu représentées</a></span></li><li><span><a href="#--Analyse-des-données-anormales" data-toc-modified-id="--Analyse-des-données-anormales-2.3.4"><span class="toc-item-num">2.3.4&nbsp;&nbsp;</span>- Analyse des données anormales</a></span><ul class="toc-item"><li><span><a href="#CIRCONFERENCE-(cm)" data-toc-modified-id="CIRCONFERENCE-(cm)-2.3.4.1"><span class="toc-item-num">2.3.4.1&nbsp;&nbsp;</span>CIRCONFERENCE (cm)</a></span></li><li><span><a href="#HAUTEUR-(m)" data-toc-modified-id="HAUTEUR-(m)-2.3.4.2"><span class="toc-item-num">2.3.4.2&nbsp;&nbsp;</span>HAUTEUR (m)</a></span></li></ul></li><li><span><a href="#--Modifier-les-données-égales-à-0-&amp;-Supprimer-les-données-anormales" data-toc-modified-id="--Modifier-les-données-égales-à-0-&amp;-Supprimer-les-données-anormales-2.3.5"><span class="toc-item-num">2.3.5&nbsp;&nbsp;</span>- Modifier les données égales à 0 &amp; Supprimer les données anormales</a></span><ul class="toc-item"><li><span><a href="#CIRCONFERENCE-(cm)-et-HAUTEUR-(m)-égales-à-0" data-toc-modified-id="CIRCONFERENCE-(cm)-et-HAUTEUR-(m)-égales-à-0-2.3.5.1"><span class="toc-item-num">2.3.5.1&nbsp;&nbsp;</span>CIRCONFERENCE (cm) et HAUTEUR (m) égales à 0</a></span></li><li><span><a href="#CIRCONFERENCE-(cm)-et-HAUTEUR-(m)-anormales-(z-score)" data-toc-modified-id="CIRCONFERENCE-(cm)-et-HAUTEUR-(m)-anormales-(z-score)-2.3.5.2"><span class="toc-item-num">2.3.5.2&nbsp;&nbsp;</span>CIRCONFERENCE (cm) et HAUTEUR (m) anormales (z-score)</a></span></li></ul></li></ul></li><li><span><a href="#--Compléter-les-données-manquantes" data-toc-modified-id="--Compléter-les-données-manquantes-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>- Compléter les données manquantes</a></span><ul class="toc-item"><li><span><a href="#--Complétion-de-la-colonne-LIBELLE-FRANCAIS" data-toc-modified-id="--Complétion-de-la-colonne-LIBELLE-FRANCAIS-2.4.1"><span class="toc-item-num">2.4.1&nbsp;&nbsp;</span>- Complétion de la colonne LIBELLE FRANCAIS</a></span><ul class="toc-item"><li><span><a href="#complétion-avec-le-GENRE" data-toc-modified-id="complétion-avec-le-GENRE-2.4.1.1"><span class="toc-item-num">2.4.1.1&nbsp;&nbsp;</span>complétion avec le GENRE</a></span></li><li><span><a href="#complétion-avec-l'ESPECE" data-toc-modified-id="complétion-avec-l'ESPECE-2.4.1.2"><span class="toc-item-num">2.4.1.2&nbsp;&nbsp;</span>complétion avec l'ESPECE</a></span></li><li><span><a href="#Suppression-des-derniers-LIBELLE-FRANCAIS-vides" data-toc-modified-id="Suppression-des-derniers-LIBELLE-FRANCAIS-vides-2.4.1.3"><span class="toc-item-num">2.4.1.3&nbsp;&nbsp;</span>Suppression des derniers LIBELLE FRANCAIS vides</a></span></li></ul></li><li><span><a href="#--Complétion-de-la-colonne-ESPECE" data-toc-modified-id="--Complétion-de-la-colonne-ESPECE-2.4.2"><span class="toc-item-num">2.4.2&nbsp;&nbsp;</span>- Complétion de la colonne ESPECE</a></span></li><li><span><a href="#--Complétion-de-la-colonne-STADE-DE-DEVELOPPEMENT" data-toc-modified-id="--Complétion-de-la-colonne-STADE-DE-DEVELOPPEMENT-2.4.3"><span class="toc-item-num">2.4.3&nbsp;&nbsp;</span>- Complétion de la colonne STADE DE DEVELOPPEMENT</a></span></li></ul></li><li><span><a href="#--Résumé-des-données-supprimées-/-complétés-/-mergées" data-toc-modified-id="--Résumé-des-données-supprimées-/-complétés-/-mergées-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>- Résumé des données supprimées / complétés / mergées</a></span></li></ul></li><li><span><a href="#--Analyser-&amp;-exploiter" data-toc-modified-id="--Analyser-&amp;-exploiter-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>- Analyser &amp; exploiter</a></span><ul class="toc-item"><li><span><a href="#Distribution-des-variables-continues" data-toc-modified-id="Distribution-des-variables-continues-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Distribution des variables continues</a></span></li><li><span><a href="#Distribution-des-variables-catégorielles" data-toc-modified-id="Distribution-des-variables-catégorielles-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Distribution des variables catégorielles</a></span></li></ul></li></ul></div>

>> TO DO

2...
* Revoir l'ordre de complétion (modification des valeurs égales à 0) des données
  * ESPECE ?
  * LIBELLE FRANCAIS 
  * CIRCONFERENCE
  * HAUTEUR
  * STADE DE DEVELOPPEMENT
  
* Ecarter les valeurs anormales (z-score)


3....
* Analyse des colonnes
  * distribution variables continues (boxplot)
  * distribution variables catégorielles (barplot)
  
* Affichage de la carte Folium

# - Récupérer & charger les données
---
---

## - Récupérer le jeu de données
---

[Lien officiel de la Mairie de Paris pour exporter le jeu de données - les arbres](https://opendata.paris.fr/explore/dataset/les-arbres/export/)

## - Définition des acronymes
---

* **Stade de développement** (dans l'ordre de croissance)
  * J = **J**eune
  * JA = **J**eune **A**rbre
  * A = **A**dulte
  * M = **M**ature
  
  
* **Domanialité**
  * DASCO = **D**irection des **A**ffaires **SCO**laires
  * DJS = **D**irection de la **J**eunesse et des **S**ports
  * DFPE = **D**irection des **F**amilles et de la **P**etite **E**nfance
  * DAC = **D**irection des **A**ffaires **C**ulturelles
  * DASES = **D**irection de l'**A**ction **S**ociale, de l'**E**nfance et de la **S**anté
  * Alignement = le long des voies
  
* **Espece**
  * n. sp. = new specie (nouvelle espèce)

## - Charger les données dans le Notebook
---

In [1]:
# import des librairies utiles à l'analyse
import numpy as np
import pandas as pd
import seaborn as sns

# lecture du fichier les-arbres.csv pour le charger en tant que DataFrame
data = pd.read_csv('les-arbres.csv', sep=';')

# données sauvegardées q5ui ne subiront pas de modification
data_save = data

# affichage des 5 premières lignes du fichier
data.head(5)

,IDBASE,TYPE EMPLACEMENT,DOMANIALITE,ARRONDISSEMENT,COMPLEMENT ADRESSE,NUMERO,LIEU / ADRESSE,IDEMPLACEMENT,LIBELLE FRANCAIS,GENRE,ESPECE,VARIETE OUCULTIVAR,CIRCONFERENCE (cm),HAUTEUR (m),STADE DE DEVELOPPEMENT,REMARQUABLE,geo_point_2d
0,205333,Arbre,Alignement,PARIS 16E ARRDT,NaN,NaN,AVENUE RAPHAEL,000402003,Marronnier,Aesculus,x carnea,''Briotii'',45,6,JA,NON,"48.8588402306,2.26763110493"
1,240074,Arbre,Alignement,PARIS 14E ARRDT,NaN,NaN,AVENUE JEAN MOULIN,000802013,Frêne,Fraxinus,excelsior,NaN,115,10,A,NON,"48.8250125374,2.32019536596"
2,246914,Arbre,Alignement,PARIS 6E ARRDT,F40 guynemer,NaN,RUE GUYNEMER,000101028,Chêne,Quercus,rubra,NaN,60,10,A,NON,"48.8452824993,2.33245623015"
3,150768,Arbre,CIMETIERE,SEINE-SAINT-DENIS,NaN,NaN,CIMETIERE DE PANTIN / AVENUE DES MARRONNIERS A...,A06400210008,Marronnier,Aesculus,hippocastanum,''Baumannii'',0,0,NaN,NaN,"48.9071597597,2.40980703764"
4,184316,Arbre,DASCO,PARIS 18E ARRDT,NaN,NaN,ECOLE ELEMENTAIRE / 5 RUE FERDINAND FLOCON,105401006,Platane,Platanus,x hispanica,NaN,180,18,A,NON,"48.8916314581,2.34521334828"

# - Nettoyer & consolider
---
---

## - Analyse rapide du fichier
---

In [ ]:
# nombre de lignes
print(">>> nombre de lignes :", len(data))

# nombre de colonnes
print(">>> nombre de colonnes :", len(data.columns))

## - Suppression des données trop incomplètes
---

In [ ]:
# complétude de chaque colonne
print(">>> complétude de chaque colonne : ( nombre de lignes totale :", len(data),")")
print()

for column in data.columns:
    print(column, 
          ": (", 
          round(data[column].count()/len(data)*100,2), "% )",
          "- (",
          data[column].count(),
          ")"
         )

* Les colonnes suivantes peuvent être supprimées :
  * **COMPLEMENT ADRESSE** n'est complète qu'à **18%**
  * **NUMERO** est toujours **vide**
  * **VARIETE OUCULTIVAR** n'est complète qu'à **19%**


* À noter que certaines colonnes ne sont que partiellement incomplètes :
  * **LIBELLE FRANCAIS** est complète à **99%**
  * **ESPECE** est complète à **99%**
  * **STADE DE DEVELOPPEMENT** est complète à **72%**
  * **REMARQUABLE** est complète à **82%**
* Une analyse plus poussée est à faire sur ces colonnes (voir plus bas)

In [ ]:
# suppression des colonnes trop incomplètes
try:
    data = data.drop(columns=['COMPLEMENT ADRESSE', 'NUMERO', 'VARIETE OUCULTIVAR'])
    print(">>> suppression des colonnes trop incomplètes")
except KeyError:
    print(">>> les colonnes ont déjà été supprimées")

# nombre de colonnes restantes après suppression (normalement 14)
print(">>> nombre de colonnes restantes :", len(data.columns))

## - Suppression / Modification / Merge des données
---

**Une colonne peut être jugée inutile si :**
* l'ensemble de ses valeurs sont toujours uniques (hors coordonnées GPS)
  - suppression de la donnée
  
  
* l'ensemble de ses valeurs sont toujours identiques ou quasiment identiques
  * suppression de la donnée
  
  
* l'ensemble de ses valeurs, bien que différentes, correspondent valeur par valeur à une autre colonne (lien 1-1)
  * suppression d'une des données

**Une donnée peut être jugée inutile si :**
* elle est trop peu représentée pour avoir un réel impact sur l'analyse
  * ex : la domanialité DASES ne concerne que 11 lignes du fichier
  * suppression ou merge de la donnée
  
  
* par rapport à l'ensemble des données du même type, sa valeur est radicalement différente sans raison apparente
  * ex : une hauteur de 10 000 mètres pour un arbre n'est pas crédible
  * suppression ou modification de la donnée

> ### - Suppression des colonnes toujours uniques / identiques (ou quasi)

In [ ]:
# unicité de chaque colonne
print(">>> unicité de chaque colonne :")
print()

for column in data.columns:
    print(column, 
          ": (", 
          round(data[column].value_counts().count()/len(data)*100,2), "% )", 
          "- (", 
          data[column].value_counts().count(),
          ")"
         )

* Les colonnes suivantes peuvent être supprimées :
  * **IDBASE** est unique à **100%** puisque c'est un ID
  * **TYPE EMPLACEMENT** contient une **unique valeur ( 1 )** (Arbre)
  


* À noter que la colonne **geo_point_2d** ne contient que des valeurs uniques mais reste pertinente pour l'analyse des données


* À noter qu'une analyse plus poussée est nécessaire pour les colonnes suivantes :
  * **IDEMPLACEMENT** n'est **pas toujours unique** malgré que ce soit à priori un ID
  * **STADE DE DEVELOPPEMENT** ne contient que **4 valeurs distinctes**
  * **REMARQUABLE** ne contient que **2 valeurs distinctes**

In [ ]:
# suppression des colonnes "uniques"
try:
    data = data.drop(columns=['IDBASE', 'TYPE EMPLACEMENT'])
    print(">>> suppression des colonnes 'uniques'")
except KeyError:
    print(">>> les colonnes ont déjà été supprimées")

# nombre de colonnes restantes après suppression (normalement 12)
print(">>> nombre de colonnes restantes :", len(data.columns))

>> #### - Analyse plus poussée - IDEMPLACEMENT

In [ ]:
# complétude de la colonne
print(">>> complétude de la colonne : (",
      round(data['IDEMPLACEMENT'].count()/len(data)*100,2),
      "% )",
      "- (",
      data[column].count(),
      ")"
     )

# unicité de la colonne
print(">>> unicité de la colonne : (",
      round(data['IDEMPLACEMENT'].value_counts().count()/len(data)*100,2), "% )", 
      "- (", 
      data['IDEMPLACEMENT'].value_counts().count(),
      ")"
     )
print()


#zoom 1:
idcut = pd.cut(data['IDEMPLACEMENT'].value_counts(normalize=True),np.arange(0,1,0.1))
print(">>> zoom 1 : aucun identifiant n'est en doublon + de", int(round(0.1*len(data),0)), "fois (10%)")
print(idcut.value_counts().sort_index())
print()

#zoom 2:
idcut = pd.cut(data['IDEMPLACEMENT'].value_counts(normalize=True),np.arange(0,0.1,0.01))
print(">>> zoom 2 : aucun identifiant n'est en doublon + de", int(round(0.01*len(data),0)), "fois (1%)")
print(idcut.value_counts().sort_index())
print()

#zoom 3: 
idcut = pd.cut(data['IDEMPLACEMENT'].value_counts(normalize=True),np.arange(0,0.01,0.001))
print(">>> zoom 3  : la plupart des identifiants sont en doublons + de", int(round(0.001*len(data),0)), "fois (0.1%)")
print(idcut.value_counts().sort_index())
print()

#zoom 4: 
idcut = pd.cut(data['IDEMPLACEMENT'].value_counts(normalize=True),np.arange(0.001,0.009,0.0005))
print(">>> zoom 4  : la plupart des identifiants sont en doublons + de", int(round(0.001*len(data),0)), "fois (0.01%)")
print(idcut.value_counts().sort_index())
print()

#liste des identifiants en doublon
print(">>> liste des identifiants en doublon:")
print(data['IDEMPLACEMENT'].value_counts())

* Cette donnée ressemble plus à une catégorie qu'à un ID (qui serait unique pour chaque ligne)
* Mais si l'on affiche sur une carte les arbres ayant un IDEMPLACEMENT communs, on remarque qu'ils sont dispatchés sur toute la carte sans lien apparent
* De plus si l'on regarde les autres données de ces arbres, il n'y a aucun point commun qui revient
* Enfin, si l'on prend un arbre en particulier ayant un IDEMPLACEMENT partagé et que l'on regarde les IDEMPLACEMENT d'autres arbres très proches de lui, ils ne sont pas identiques mais incrémentés ou décrémentés de 1
* Cet ID fonctionne à un niveau local (ex : SQUARE REJANE) mais au niveau global de Paris, il y a des similitudes forfuites

> **Cette donnée peut être supprimée, c'est très certainement un ID**

In [ ]:
# suppression de la colonne IDEMPLACEMENT
try:
    data = data.drop(columns=['IDEMPLACEMENT'])
    print(">>> suppression des colonnes IDEMPLACEMENT")
except KeyError:
    print(">>> les colonnes ont déjà été supprimées")

# nombre de colonnes restantes après suppression (normalement 11)
print(">>> nombre de colonnes restantes :", len(data.columns))

>> #### - Analyse plus poussée - STADE DE DEVELOPPEMENT

In [ ]:
# complétude de la colonne
print(">>> complétude de la colonne : (",
      round(data['STADE DE DEVELOPPEMENT'].count()/len(data)*100,2),
      "% )",
      "- (",
      data[column].count(),
      ")"
     )
print()

# répartition des valeurs
print(">>> répartition des valeurs :")

serie = data['STADE DE DEVELOPPEMENT'].value_counts()

for index in serie.index:
    print(index,
          ": (",
          round(serie[index]/len(data)*100,2), "% )", 
          "- (", 
          serie[index],
          ")"
         )

* Bilan de l'analyse de la colonne **STADE DE DEVELOPPEMENT** :
  * elle est complète à **72%**
  * ces données sont suffisamment réparties entre les différentes catégories


* **/!\ Pour être exploitée, cette colonne doit être complétée (voir plus bas) /!\**
 
 
* Pour compléter intelligemment les données manquantes, il y a sûrement un lien à faire avec:
  * LIBELLE FRANCAIS / ESPECE
  * CIRCONFERENCE / HAUTEUR

>> #### - Analyse plus poussée - REMARQUABLE

In [ ]:
# complétude de la colonne
print(">>> complétude de la colonne : (",
      round(data['REMARQUABLE'].count()/len(data)*100,2),
      "% )",
      "- (",
      data[column].count(),
      ")"
     )
print()

# répartition des valeurs
print(">>> répartition des valeurs :")

serie = data['REMARQUABLE'].value_counts()

for index in serie.index:
    print(index,
          ": (",
          round(serie[index]/len(data)*100,2), "% )", 
          "- (", 
          serie[index],
          ")"
         )

* Bilan de l'analyse de la colonne **REMARQUABLE** :
  * elle est complète à **82%**
  * la quasi totalité des données est répartie dans une seule catégorie (NON)
 

* **/!\ Cette colonne peut être supprimée /!\**

In [ ]:
# suppression des de la colonne REMARQUABLE
try:
    data = data.drop(columns=['REMARQUABLE'])
    print(">>> suppression de la colonne REMARQUABLE")
except KeyError:
    print(">>> les colonnes ont déjà été supprimées")

# nombre de colonnes restantes après suppression (normalement 10)
print(">>> nombre de colonnes restantes :", len(data.columns))

> ### - Suppression des colonnes correspondantes à une autre (lien 1-1)

In [ ]:
# nombre d'index distincts par colonne
print(">>> nombre d'index distincts par colonne :")
print()
for column in data.columns:
    print(column, ": (", len(data[column].value_counts()), ")")
print()

* les colonnes les plus suceptibles de se correspondre ont un nombre d'index et des données similaires
* les seules assez proches dans ce cas sont **LIBELLE FRANCAIS** & **GENRE**

In [ ]:
# liste des LIBELLE FRANCAIS ayant plus de 1 genre

try:
    sub_data = data[['LIBELLE FRANCAIS', 'GENRE']]
    serie = sub_data.groupby('LIBELLE FRANCAIS').GENRE.nunique() > 1

    for index in serie.index:
        if serie[index]:
            print(">>>", index)
            #print(">>>", data_save.loc[data_save['LIBELLE FRANCAIS'] == index, 'GENRE'].unique())
            print(data.loc[data['LIBELLE FRANCAIS'] == index, 'GENRE'].value_counts())
            print()
except KeyError:
    print("La colonne GENRE a déjà été supprimée")

**Analyse des LIBELLE FRANCAIS:**
* Chimonanthe:
  * Il y a une simple confusion entre l'ESPECE (Chionanthus) et le le GENRE (Chimonanthus)
* Chêne:
  * 1 seule différence qui semble être une erreur (Sapindus)
* Cyprès:
  * les deux catégories font référence à des Cyprès bien qu'il y ait de légères différences
* ...


* dans l'ensemble la colonne **GENRE** n'apporte que très peu de valeur ajoutée par rapport à **LIBELLE FRANCAIS**
  * Soit il s'agit d'erreurs (ex : un chêne ayant pour genre Sapindus)
  * Soit il n'y a qu'une seule différence qui est négligeable
  * Soit la différence concrète entre les genres est trop subtile pour être exploitée


* **/!\ Nous pouvons supprimer la colonne GENRE /!\**

In [ ]:
# suppression de la colonne GENRE
try:
    data = data.drop(columns=['GENRE'])
    print(">>> suppression de la colonne GENRE")
except KeyError:
    print(">>> les colonnes ont déjà été supprimées")

# nombre de colonnes restantes après suppression (normalement 9)
print(">>> nombre de colonnes restantes :", len(data.columns))

> ### - Suppression / Merge des données trop peu représentées

In [ ]:
# nombre d'index distincts par colonne
print(">>> nombre d'index distincts par colonne :")
print()
for column in data.columns:
    print(column, ": (", len(data[column].value_counts()), ")")
print()

# répartition des valeurs par colonne ayant peu d'index distincts (< 50)
print(">>> répartition des valeurs par colonne ayant peu d'index distincts (< 50) :")
print()

for column in data.columns:
    if len(data[column].value_counts()) < 50:
        serie = data[column].value_counts()
        serie2 = data[column].value_counts()/len(data)*100
        serie_f = serie.to_frame()
        serie_f['%'] = serie2
        print(serie_f)
        print()

**DOMANIALITE**
* **On remarque que:**
  * les index DAC / DASES / DFPE sont très faiblement représentés (< %1)
  * les index DASCO / PERIPHERIQUE / DJS sont faiblement représentés (< 5%)
    * les deux groupes d'index faiblements cumulés = 8%
  * les trois autres index sont représentés comme suit :
    * Alignement : 52%
    * Jardin : 24%
    * CIMETIERE :16%
    * total = 92% 
* **Que faire des données ?**
  * Même s'il peut y avoir un lien entre les domanialités et d'autres données (ex : les arbres des jardins ont tendance à être plus petits que ceux en alignement), ce lien n'est pas utile
  * Les domanialités n'ont en réalité que peu d'intérêt pour établir une stratégie viable d'optimisation des trajets
  * En effet, il est tout à fait possible que géographiquement un jardin puisse être à la fois à l'Est de Paris et un autre complétement à l'Ouest
  * Nous lui préferons une autre donnée géographique comme l'arrondissement ou les coordonées GPS
  * **/!\ Suppression de la donnée /!\**
  
>

**ARRONDISSEMENT**
* **On remarque que:** 
  * l'ensemble des index sont plutôt bien répartis
  * mais certaines valeurs sont très faibles par rapport à d'autres
* **Que faire des données ?** : 
  * Il est préférable de merge des arrondissement proches entre eux
  * [arrondissement de Paris](https://homeselect.paris/wp-content/uploads/Capture-d%E2%80%99e%CC%81cran-2019-07-09-a%CC%80-13.53.12-1024x512.jpg)
    * ex: 1er + 2eme + 3eme + 4eme (centre Paris)
    * ex : 5eme  + 6eme + 7eme
    * ex : 8eme + 9eme + 10eme + 11eme
    * ex : Val de Marne + Bois de Vincenne ? (Est de Paris)
    * ex : Hauts de Seine + Bois de Boulogne (Ouest de Paris)

>

**STADE DE DEVELOPPEMENT**
* **On remarque que:** l'ensemble des index sont plutôt bien répartis
* **Que faire des données ?** : on ne les supprime pas et on ne les merge pas, il faut les compléter

In [ ]:
# suppression de la colonne DOMANIALITE
try:
    data = data.drop(columns=['DOMANIALITE'])
    print(">>> suppression de la colonne DOMANIALITE")
except KeyError:
    print(">>> les colonnes ont déjà été supprimées")

# nombre de colonnes restantes après suppression (normalement 8)
print(">>> nombre de colonnes restantes :", len(data.columns))

In [ ]:
# Merge des données de la colonne ARRONDISSEMENT

## Merge des arrondissements 1, 2, 3, et 4
data.loc[(data['ARRONDISSEMENT'] == 'PARIS 1ER ARRDT') 
         | (data['ARRONDISSEMENT'] == 'PARIS 2E ARRDT')
         | (data['ARRONDISSEMENT'] == 'PARIS 3E ARRDT')
         | (data['ARRONDISSEMENT'] == 'PARIS 4E ARRDT')
         ,'ARRONDISSEMENT'] = 'PARIS 1234 ARRDT'

## Merge des arrondissements 5, 6, et 7
data.loc[(data['ARRONDISSEMENT'] == 'PARIS 5E ARRDT')
         | (data['ARRONDISSEMENT'] == 'PARIS 6E ARRDT')
         | (data['ARRONDISSEMENT'] == 'PARIS 7E ARRDT')
         ,'ARRONDISSEMENT'] = 'PARIS 567 ARRDT'


## Merge des arrondissements 8, 9, 10 et 11
data.loc[(data['ARRONDISSEMENT'] == 'PARIS 8E ARRDT')
         | (data['ARRONDISSEMENT'] == 'PARIS 9E ARRDT')
         | (data['ARRONDISSEMENT'] == 'PARIS 10E ARRDT')
         | (data['ARRONDISSEMENT'] == 'PARIS 11E ARRDT')
         ,'ARRONDISSEMENT'] = 'PARIS 891011 ARRDT'

## Merge des arrondissements Val de Marne + Bois de Vincenne (Est de Paris)
data.loc[(data['ARRONDISSEMENT'] == 'VAL-DE-MARNE')
         | (data['ARRONDISSEMENT'] == 'BOIS DE VINCENNES')
         ,'ARRONDISSEMENT'] = 'PARIS EST'

## Merge des arrondissements Hauts de Seine + Bois de Boulogne (Ouest de Paris)
data.loc[(data['ARRONDISSEMENT'] == 'HAUTS-DE-SEINE')
         | (data['ARRONDISSEMENT'] == 'BOIS DE BOULOGNE')
         ,'ARRONDISSEMENT'] = 'PARIS OUEST'

data['ARRONDISSEMENT'].value_counts()

> ### - Analyse des données anormales

**Les colonnes les plus suceptibles d'abriter des donnnées anormales sont:**
* CIRCONFERENCE (cm)
* HAUTEUR (m)

#### CIRCONFERENCE (cm)

In [ ]:
sns.stripplot(x=data[['CIRCONFERENCE (cm)']], orient='v')

* Quelques données semblent avoir des circonférences anormales
  * des circonférences ont l'air bien trop élevées
  * des circonférences sont égales à 0
  

* Si la valeur est proche de 0 nous pouvons considérer qu'elle est juste


* À noter : le conifère Taxodium mucronatum est l'arbre le plus gros du monde avec 50 mètres de circonférence au sol et 34.50m à 1m50 du sol.
  * À minima nous pouvons partir du principe que toute circonference au-delà de cette valeur est anormale
  * [Ce que ça donne en vrai](https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/69862665_1104919109697608_4295910582487351296_o.jpg?_nc_cat=102&_nc_sid=8024bb&_nc_ohc=daP98v15geMAX9ydgz-&_nc_ht=scontent-cdg2-1.xx&oh=7d490189780f044e08d8adab0e38ba48&oe=5F09B800)
  * Sans trop de risques, nous pouvons estimer qu'une circonférence au delà de 3000 est anormale

In [ ]:
# données sans valeurs anormales
clean_data_circ = data[~(data['CIRCONFERENCE (cm)'] > 3000)]
clean_data_circ = clean_data_circ[~(clean_data_circ['CIRCONFERENCE (cm)'] == 0)]

sns.stripplot(x='CIRCONFERENCE (cm)', data=clean_data_circ, orient='v')

In [ ]:
sns.distplot(clean_data_circ['CIRCONFERENCE (cm)'])

* La plupart des circonférences sont entre 0 et 500 cm

>

* **Que faire des données ?** : 
  * une analyse plus poussée doit être faite pour les valeurs égales à 0 : (voir plus bas)
    * combien y'en-a-t-il dans le dataset ?
      * s'il y en a peu, nous pouvons les supprimer
      * sinon, il faudra les modifier intelligemment en croisant avec 
        * la hauteur
        * le stade de developpement
        * le libelle français et l'espece
  * pour les valeurs anormalement grandes (z-score)
     * supprimer les lignes

#### HAUTEUR (m)

In [ ]:
sns.stripplot(x=data[['HAUTEUR (m)']], orient='v')

* Quelques données semblent avoir des hauteurs anormales
  * des hauteurs ont l'air bien trop élevées
  * des hauteurs sont égales à 0 

>

* À noter que l'arbre le plus grand du monde mesure 115 mètres
  * À minima nous pouvons partir du principe que toute hauteur au-delà de cette valeur est anormale
  * [arbre le plus grand du monde](https://www.futura-sciences.com/planete/questions-reponses/arbre-plus-grand-arbre-monde-1112/)

In [ ]:
clean_data_haut = data[~(data['HAUTEUR (m)'] > 115)]
clean_data_haut = clean_data_haut[~(clean_data_haut['HAUTEUR (m)'] == 0)]
sns.stripplot(x="HAUTEUR (m)", data=clean_data_haut, orient='v')

In [ ]:
sns.distplot(clean_data_haut['HAUTEUR (m)'])

* La plupart des données se situent entre 0 et 35 mètres

>

* **Que faire des données ?** : 
  * pour les valeurs égales à 0 : même réponse que pour la circonférence (voir plus bas)
  * pour les valeurs anormalement grandes (z-score)
     * supprimer les lignes

> ### - Modifier les données égales à 0 & Supprimer les données anormales

#### CIRCONFERENCE (cm) et HAUTEUR (m) égales à 0

In [ ]:
# nombre de circonférences égales à 0
nbr_zero = (data['CIRCONFERENCE (cm)'] == 0).value_counts()
print('>>> nombre de circonférences égales à 0')
print(nbr_zero)

print()

print('>>> soit :',  round(nbr_zero[True]/len(data)*100,2), "%")

In [ ]:
# nombre de hauteurs égales à 0
nbr_zero = (data['HAUTEUR (m)'] == 0).value_counts()
print('>>> nombre de hauteurs égales à 0')
print(nbr_zero)

print()

print('>>> soit :',  round(nbr_zero[True]/len(data)*100,2), "%")

* Nous ne pouvons pas simplement supprimer les données car il y a trop de données dans le dataset égales à 0

In [ ]:
# nombre de lignes ayant CIRCONFERENCE = 0 et HAUTEUR = 0
nbr_double_zero = len(data[(data['CIRCONFERENCE (cm)'] == 0) & (data['HAUTEUR (m)'] == 0)])
print('>>> nombre de lignes ayant CIRCONFERENCE = 0 et HAUTEUR = 0:',nbr_double_zero)

print(">>> soit:", 
        round(
            nbr_double_zero
            /
            len(data[(data['CIRCONFERENCE (cm)'] == 0)])*100
        ,2), "% des lignes ayant CIRCONFERENCE = 0")

print(">>> soit:", 
        round(
            nbr_double_zero
            /
            len(data[(data['HAUTEUR (m)'] == 0)])*100
        ,2), "% des lignes ayant HAUTEUR = 0")

* Pour la CIRCONFERENCE nous ne pouvons pas utiliser la HAUTEUR dans 99% des cas
* En revanche, pour la HAUTEUR nous pouvons utiliser la CIRCONFERENCE dans 28% des cas
* Nous pouvons utiliser d'autres données pour établir une corrélation entre HAUTEUR & CIRCONFERENCE, telles que:
  * STADE DE DEVELOPPEMENT
  * LIBELLE FRANCAIS / ESPECE

In [21]:
# nombre de STADE DE DEVELOPPEMENT vides quand CIRCONFERENCE = 0 et HAUTEUR = 0
temp = data[
            (data['CIRCONFERENCE (cm)'] == 0) &
            (data['HAUTEUR (m)'] == 0) &
            (data['STADE DE DEVELOPPEMENT'].isna())
           ]

print('>>> nombre de lignes ayant CIRCONFERENCE = 0 et HAUTEUR = 0 et STADE DE DEVELOPPEMENT vide:', len(temp))

print(">>> soit:", 
        round(
            len(temp)
            /
            len(data[(data['CIRCONFERENCE (cm)'] == 0) & (data['HAUTEUR (m)'] == 0)])*100
        ,2), "%")

>>> nombre de lignes ayant CIRCONFERENCE = 0 et HAUTEUR = 0 et STADE DE DEVELOPPEMENT vide: 706
>>> soit: 100.0 %

* Le stade de développement ne peut pas être utilisé pour déduire la circonférence ou la hauteur
  * cette donnée n'est pas renseigné quand CIRCONFERENCE = 0 et HAUTEUR = 0 (ce qui semble logique)
* Reste le LIBELLE FRANCAIS et l'ESPECE

In [22]:
# nombre de LIBELLE FRANCAIS vides quand CIRCONFERENCE = 0 et HAUTEUR = 0
temp = data[
            (data['CIRCONFERENCE (cm)'] == 0) &
            (data['HAUTEUR (m)'] == 0) &
            (data['LIBELLE FRANCAIS'].isna())
           ]

print('>>> nombre de lignes ayant CIRCONFERENCE = 0 et HAUTEUR = 0 et LIBELLE FRANCAIS vide:', len(temp))

print(">>> soit:", 
        round(
            len(temp)
            /
            len(data[(data['CIRCONFERENCE (cm)'] == 0) & (data['HAUTEUR (m)'] == 0)])*100
        ,2), "%")

>>> nombre de lignes ayant CIRCONFERENCE = 0 et HAUTEUR = 0 et LIBELLE FRANCAIS vide: 144
>>> soit: 20.4 %

In [23]:
# nombre de ESPECE vides quand CIRCONFERENCE = 0 et HAUTEUR = 0
temp = data[
            (data['CIRCONFERENCE (cm)'] == 0) &
            (data['HAUTEUR (m)'] == 0) &
            (data['ESPECE'].isna())
           ]

print('>>> nombre de lignes ayant CIRCONFERENCE = 0 et HAUTEUR = 0 et ESPECE vide:', len(temp))

print(">>> soit:", 
        round(
            len(temp)
            /
            len(data[(data['CIRCONFERENCE (cm)'] == 0) & (data['HAUTEUR (m)'] == 0)])*100
        ,2), "%")

>>> nombre de lignes ayant CIRCONFERENCE = 0 et HAUTEUR = 0 et ESPECE vide: 405
>>> soit: 57.37 %

* le LIBELLE FRANCAIS en conjonction avec l'ESPECE peuvent être utilisés

In [15]:
# liste des hauteurs et circonférences non nulles et des libelles francais
sub_data = data[
    ~(data['CIRCONFERENCE (cm)'] == 0) &
    ~(data['HAUTEUR (m)'] == 0) &
    ~(data['ESPECE'].isna()) &
    ~(data['LIBELLE FRANCAIS'].isna())
][['LIBELLE FRANCAIS', 'ESPECE', 'CIRCONFERENCE (cm)', 'HAUTEUR (m)']]

print(len(sub_data))
sub_data.head(5)

171425

       LIBELLE FRANCAIS       ESPECE  CIRCONFERENCE (cm)  HAUTEUR (m)
0            Marronnier     x carnea                  45            6
1                 Frêne    excelsior                 115           10
2                 Chêne        rubra                  60           10
4               Platane  x hispanica                 180           18
5  Noisetier de Byzance      colurna                 140           10

In [16]:
# la moyenne des hauteurs et circonférences par couple de LIBELLE FRANCAIS / ESPECE
pivot = pd.pivot_table(sub_data, index=['LIBELLE FRANCAIS', 'ESPECE'], aggfunc='mean')

pivot

                                CIRCONFERENCE (cm)  HAUTEUR (m)
LIBELLE FRANCAIS ESPECE
Abelia           n. sp.                  20.000000     5.000000
                 triflora                75.000000     6.000000
Abricotier       armeniaca               15.708333     2.520833
Abricotier fruit armeniaca               10.000000     2.000000
Ailante          altissima              104.263235    10.805882
...                                            ...          ...
Viorne           odoratissimum           10.000000     1.000000
                 tinus                   30.000000     5.000000
Virgilier        kentukea                57.480000     5.320000
                 n. sp.                  95.000000     5.000000
                 sinensis                55.250000     5.625000

[587 rows x 2 columns]

In [17]:
# nombre de modifications 
count_modif = 0

# pour chaque couple libelle francais et espece
for lib_fr, espece in pivot.index:
    
    # on récupère tous les couples ayant CIRCONFERENCE = 0 et HAUTEUR = 0
    temp = data[
            (data['LIBELLE FRANCAIS'] == lib_fr) & 
            (data['ESPECE'] == espece) & 
            (data['CIRCONFERENCE (cm)'] == 0) &
            (data['HAUTEUR (m)'] == 0)
           ]

    # on modifie chaque index de ce couple par la moyenne des CIRCONFERENCE et HAUTEUR correspondante à ce couple
    if len(temp) !=0:
        data.loc[temp.index, 'CIRCONFERENCE (cm)'] = pivot.loc[lib_fr, espece]['CIRCONFERENCE (cm)']
        data.loc[temp.index, 'HAUTEUR (m)'] = pivot.loc[lib_fr,espece]['HAUTEUR (m)']
        count_modif = count_modif + len(temp)
    
print(">>> nombre de modifications :", count_modif)

>>> nombre de modifications : 22113

In [18]:
nbr_zero = (data['CIRCONFERENCE (cm)'] == 0).value_counts()
print('>>> nombre de circonférences égales à 0')
print(nbr_zero)

print()

print('>>> soit :',  round(nbr_zero[True]/len(data)*100,2), "%")

>>> nombre de circonférences égales à 0
False    204314
True        987
Name: CIRCONFERENCE (cm), dtype: int64

>>> soit : 0.48 %

In [19]:
nbr_zero = (data['HAUTEUR (m)'] == 0).value_counts()
print('>>> nombre de hauteurs égales à 0')
print(nbr_zero)

print()

print('>>> soit :',  round(nbr_zero[True]/len(data)*100,2), "%")

>>> nombre de hauteurs égales à 0
False    195527
True       9774
Name: HAUTEUR (m), dtype: int64

>>> soit : 4.76 %

* Il reste ~10k HAUTEURS à modifier, ce sont celles dont la CIRCONFERENCE n'étaient pas égales à 0

In [20]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import LabelEncoder 

# on récupère toutes les données HAUTEUR (y.c celle égale à 0) ayant une CIRCONFERENCE, un LIBELLE FRANCAIS et une ESPECE
temp = data[
    (data['CIRCONFERENCE (cm)'] != 0) & 
    ~(data['LIBELLE FRANCAIS'].isna()) &
    ~(data['ESPECE'].isna())
#][['CIRCONFERENCE (cm)','HAUTEUR (m)']]
][['LIBELLE FRANCAIS', 'ESPECE', 'CIRCONFERENCE (cm)','HAUTEUR (m)']]

print(">>> nombre de données HAUTEUR (y.c celle égale à 0) ayant une CIRCONFERENCE, un LIBELLE FRANCAIS et une ESPECE: ",
      len(temp))

# on encode les données de type String
le = LabelEncoder()
lib_fr = le.fit_transform(temp['LIBELLE FRANCAIS'])
lib_fr_cor = temp['LIBELLE FRANCAIS'].to_numpy()
espece = le.fit_transform(temp['ESPECE'])
espece_cor = temp['ESPECE'].to_numpy()

# on crée le tableau sur lequel on veut lancer le IterativeImputer
data_to_impute = np.c_[ lib_fr, espece, temp['CIRCONFERENCE (cm)'].to_numpy(), temp['HAUTEUR (m)'].to_numpy() ]   

# on crée et on lance le Iterative Imputer
imputer = IterativeImputer(missing_values=0, random_state=0)
imputed_data = imputer.fit_transform(data_to_impute)

imputed_data = imputed_data.astype('<U32') 
imputed_data[:,0] = lib_fr_cor
imputed_data[:,1] = espece_cor

df = pd.DataFrame(imputed_data, columns=['LIBELLE FRANCAIS', 'ESPECE', 'CIRCONFERENCE (cm)', 'HAUTEUR (m)'])

df

>>> nombre de données HAUTEUR (y.c celle égale à 0) ayant une CIRCONFERENCE, un LIBELLE FRANCAIS et une ESPECE:  202474

,LIBELLE FRANCAIS,ESPECE,CIRCONFERENCE (cm),HAUTEUR (m)
0,Marronnier,x carnea,45.0,6.0
1,Frêne,excelsior,115.0,10.0
2,Chêne,rubra,60.0,10.0
3,Marronnier,hippocastanum,141.18182307940955,12.982544984376684
4,Platane,x hispanica,180.0,18.0
...,...,...,...,...
202469,Erable,pseudoplatanus,60.0,6.0
202470,Tilleul,tomentosa,115.0,12.0
202471,Platane,x hispanica,50.0,6.0
202472,Marronnier,hippocastanum,125.0,15.0
202473,Marronnier,hippocastanum,94.0,10.0

#### CIRCONFERENCE (cm) et HAUTEUR (m) anormales (z-score)

## - Compléter les données manquantes
---

> ### - Complétion de la colonne LIBELLE FRANCAIS

In [ ]:
save = data_save
print("nombre de libellés français vide", len(save[(save['LIBELLE FRANCAIS'].isna())]))

>> #### complétion avec le GENRE

In [ ]:
# tous les libellés français vides qui ont une genre définie
emptylibfr_genre = save[(save['LIBELLE FRANCAIS'].isna()) & ~(save['GENRE'] == 'Non spécifié') & ~(save['GENRE'].isna())]
print(">>> nombre de libelle français vide ayant un genre non vide:", len(emptylibfr_genre))

In [ ]:
# nombre de modifications
count_modif = 0
count_non_modif = 0

# pour chaque genre ayant un libelle fr vide
for genre in emptylibfr_genre["GENRE"].unique():
    
    # liste des remplacents (non vides) possibles pour ce genre
    liste_remplacents = save[(save['GENRE'] == genre)]['LIBELLE FRANCAIS'].dropna().unique()
    
    # s'il y a un seul remplacent on modifie le libelle fr de chaque index correspondant à ce genre
    if (len(liste_remplacents) == 1):
        print(">>> (== 1) - genre :", genre, ">>>",  liste_remplacents[0])
        for index in emptylibfr_genre[emptylibfr_genre['GENRE']==genre].index:
            data.loc[index,'LIBELLE FRANCAIS'] = liste_remplacents[0]
            count_modif +=1
            
    # s'il y a plusieurs remplacents, on ne fait rien
    elif (len(liste_remplacents) > 1):
        #print(">>> (> 1) - genre :", genre, ">>>",  liste_remplacents)
        for index in emptylibfr_genre[emptylibfr_genre['GENRE']==genre].index:
            count_non_modif +=1
    
    # si l'espece n'a pas de correspondance ou si elle en a trop car trop générique (n. sp.), on ne fait rien
    else:
        #print(">>> vide:", liste_remplacents)
        for index in emptylibfr_genre[emptylibfr_genre['GENRE']==genre].index:
            count_non_modif +=1
        
print()

if count_modif+count_non_modif == len(emptylibfr_genre):
    print('>>> OK :)')
    print("\t>>> nombre de modifications effectuées:" , count_modif)
    print("\t>>> nombre de données non modifiées :" , count_non_modif)
    print("\t>>> nombre de libelle français vides ayant un genre non vide:", len(emptylibfr_genre))
else:
    print('>>> KO !!')
    print("\t>>> nombre de modifications effectuées:" , count_modif)
    print("\t>>> nombre de données non modifiées :" , count_non_modif)
    print("\>>> nombre de libelle français vides ayant un genre non vide:", len(emptylibfr_genre))

In [ ]:
# tous les libellés français vides qui ont une genre défini
emptylibfr_genre = data[(data['LIBELLE FRANCAIS'].isna()) & ~(data['GENRE'] == 'Non spécifié') & ~(data['GENRE'].isna())]
print(">>> nombre de libelle français vide ayant un genre non vide:", len(emptylibfr_genre))

if len(emptylibfr_genre) == count_non_modif:
    print('>>> OK :)')
else:
    print('>>> KO !!')

In [ ]:
print("nombre de libellés français vide", len(data[(data['LIBELLE FRANCAIS'].isna())]))

>> #### complétion avec l'ESPECE

In [ ]:
# tous les libellés français vides qui ont une espèce définie
emptylibfr_espece = data[(data['LIBELLE FRANCAIS'].isna()) & ~(data['ESPECE'].isna())]
print(">>> nombre de libelle français vide ayant une espece non vide:", len(emptylibfr_espece))

In [ ]:
# nombre de modifications
count_modif = 0
count_non_modif = 0

# pour chaque espece ayant un libelle fr vide
for espece in emptylibfr_espece["ESPECE"].unique():
    
    # liste des remplacents possibles pour cette espece
    liste_remplacents = data[(data['ESPECE'] == espece)]['LIBELLE FRANCAIS'].dropna().unique()
    
    # s'il y a un seul remplacent on modifie le libelle fr de chaque index correspondant à cette espece
    if (espece != 'n. sp.') & (len(liste_remplacents) == 1):
        print(">>> (== 1) - espece :", espece, ">>>",  liste_remplacents[0])
        for index in emptylibfr_espece[emptylibfr_espece['ESPECE']==espece].index:
            data.loc[index,'LIBELLE FRANCAIS'] = liste_remplacents[0]
            count_modif +=1
    
    # s'il y a plusieurs remplacents, on ne fait rien
    elif (espece != 'n. sp.') & (len(liste_remplacents) > 1):
        #print(">>> (> 1) - espece :", espece, ">>>",  liste_remplacents)
        for index in emptylibfr_espece[emptylibfr_espece['ESPECE']==espece].index:
            count_non_modif +=1
        
    # si l'espece n'a pas de correspondance ou si elle en a trop car trop générique (n. sp.), on ne fait rien
    else:
        #print(">>> vide ou n. sp.")
        for index in emptylibfr_espece[emptylibfr_espece['ESPECE']==espece].index:
            count_non_modif +=1
            
print()

if count_modif+count_non_modif == len(emptylibfr_espece):
    print('>>> OK :)')
    print("\t>>> nombre de modifications effectuées:" , count_modif)
    print("\t>>> nombre de données non modifiées :" , count_non_modif)
    print("\t>>> nombre de libelle français vides ayant un genre non vide:", len(emptylibfr_espece))
else:
    print('>>> KO !!')
    print("\t>>> nombre de modifications effectuées:" , count_modif)
    print("\t>>> nombre de données non modifiées :" , count_non_modif)
    print("\>>> nombre de libelle français vides ayant un genre non vide:", len(emptylibfr_espece))

In [ ]:
# tous les libellés français vides qui ont une genre défini
emptylibfr_espece = data[(data['LIBELLE FRANCAIS'].isna()) & ~(data['ESPECE'].isna())]
print(">>> nombre de libelle français vide ayant une espece non vide:", len(emptylibfr_espece))

if len(emptylibfr_espece) == count_non_modif:
    print('>>> OK :)')
else:
    print('>>> KO !!')

>> #### Suppression des derniers LIBELLE FRANCAIS vides

In [ ]:
print("AVANT SUPPR - nombre de LIBELLE FRANCAIS encore vides:", len(data[(data['LIBELLE FRANCAIS'].isna())]))
data = data.drop(data[(data['LIBELLE FRANCAIS'].isna())].index)
print("APRES SUPPR - nombre de LIBELLE FRANCAIS encore vides:", len(data[(data['LIBELLE FRANCAIS'].isna())]))

> ### - Complétion de la colonne ESPECE

> ### - Complétion de la colonne STADE DE DEVELOPPEMENT

## - Résumé des données supprimées / complétés / mergées
---

* Données supprimées
  * aa
  
  
* Données complétées


* Données mergées

# - Analyser & exploiter
---
---

## Distribution des variables continues

## Distribution des variables catégorielles